@{
    Layout = "../Shared/_Layout.cshtml";
}

<div ng-app="UniAppSpelApp" ng-controller="AddPhraseController">
    <label>Message</label>
    <textarea class="form-horizontal" ng-model="errors"  style="width: 100%; height: 6em;"></textarea>
    <label>Add words:</label>
    <textarea class="form-horizontal" ng-model="sentence" ng-change="parseSentence()" style="width: 100%; height: 6em;"></textarea>
    <form name="worddata">
        <tabset justified="true">
            <tab ng-repeat="w in words track by $index" heading="{{w.WordName}}">
                <div class="leftSide">
                    <label>Name</label>
                    <input class="form-horizontal" type="text" ng-model="w.WordName" ng-change="buildSentance(w[$index])" />
                    <label>Sound file</label>
                    <input class="form-horizontal" type="text" ng-model="w.SoundFile" ng-change="buildSentance(w[$index])" />
                </div>
                <div class="rightSide">
                    <label>Image Name</label>
                    <input class="form-horizontal" type="text" ng-model="w.Image" ng-change="buildSentance(w[$index])" />
                    <label>Description</label>
                    <input class="form-horizontal" type="text" ng-model="w.WordDescription" ng-change="buildSentance(w[$index])" />
                </div>
            </tab>
        </tabset>
        <button id="Submit1" class="primaryButton" type="button" ng-click="processForm()">Submit</button>
    </form>

</div>


