@{
    Layout = "../Shared/_Layout.cshtml";
}

<div ng-app="UniAppSpelApp" ng-controller="EditPageController">
    <label><b>ADD PHRASES AND WORDS TO DICTIONARY</b></label>
    <div style="float:right;"><span class="label label-success">Dictionary:{{dictionaries}}</span></div>
    <div style="float:right;" class="editnavcenter">
        <div class="navsection">
            <accordion class="btn" close-others="oneAtATime">
                <span class="badge">Words in dictionary: {{words_in_dictionary.length}}</span>
                <accordion-group class="btn" heading="(Show/Hide)">
                    <label>Click on a word to add it to your custom sentence.</label>
                    <table class="tableDictionary">
                        <thead><tr><th>Name</th><th>Description</th><th>Image</th><th>Sound</th></tr></thead>
                        <tbody>
                            <tr ng-repeat="words in words_in_dictionary | orderBy:'WordName':false">
                                <td ng-click="addWordFromDictionary(words.WordName)"><p>{{words.WordName}}</p></td>
                                <td ng-click="addWordFromDictionary(words.WordName)"><p>{{words.WordDescription}}</p></td>
                                <td ng-click="addWordFromDictionary(words.WordName)"><p>{{words.Image}}</p></td>
                                <td ng-click="addWordFromDictionary(words.WordName)"><p>{{words.SoundFile}}</p></td>
                            </tr>
                        </tbody>
                    </table>
                </accordion-group>
            </accordion>
        </div>
    </div>
    <div class="navsection">
        <textarea class="form-horizontal" ng-model="sentence" ng-change="parseSentence()" style="width: 98%; height: 15em;"></textarea>
        <form name="worddata">

            <button id="Submit1" class="primaryButton" type="button" ng-click="processForm()">Submit</button>
            <accordion class="btn" style="float:left;" close-others="oneAtATime">
                <span class="badge">Edit words to be added to dictionary</span>
                <accordion-group class="btn" heading="(Show/Hide) ">
                    <tabset justified="true">
                        <tab ng-repeat="w in words track by $index" heading="{{w.WordName}}">
                            <div class="bottomleft">
                                <label>Name</label>
                                <input class="form-horizontal" type="text" ng-model="w.WordName" ng-change="buildSentance(w[$index])" />
                                <label>Sound file</label>
                                <input class="form-horizontal" type="text" ng-model="w.SoundFile" />
                                <div>
                                    <table class="tableImages">
                                        <thead><tr><th><button class="primaryButton" type="button" ng-click="GetImageList(w.WordName)">Get</button> images for this word:</th></tr></thead>
                                        <tbody>
                                            <tr ng-repeat="aImage in imagelist | filter:w.WordName">
                                                <td ng-click="chooseImage(aImage.Image)"><img ng-src="{{aImage.Image}}" alt="{{w.WordName}}" /></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="imgField">
                                        <label>Image Name</label>
                                        <input class="form-horizontal" type="text" ng-model="imageurl" />
                                    </div>
                                </div>
                                <label>Description</label>
                                <input class="form-horizontal" type="text" ng-model="w.WordDescription" />
                            </div>
                        </tab>
                    </tabset>
                </accordion-group>
            </accordion>
        </form>
    </div>
    <div class="navsection">
        <accordion class="btn" style="float:left;" close-others="oneAtATime">
            <span class="badge">Systems information: {{error.length}}</span>
            <accordion-group class="btn" heading="(Show/Hide) ">
                <textarea class="form-horizontal" ng-model="error" style="width: 100%; height: 15em;"></textarea>
            </accordion-group>
            <accordion-group class="btn" heading="(Show/Hide) ">
                <div>@Html.Partial("SoundRecorder")</div>
            </accordion-group>
        </accordion>
    </div>
</div>
