@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-app="UniAppSpelApp" ng-controller="LandingPageController">
    <div class="navsection">
        <accordion class="btn" close-others="oneAtATime">
            <div style="float:right;">
                <img src="~/Images/words.jpg" alt="" /><label><b>LEARN WORDS IN: </b>{{dictionaries}}</label>
            </div>
            <div ng-hide="actualWord==''" class="bubble" style="float:left;" ng-style="{'left':bubblePosition+'px'}">
                <div class="preview">
                    <img src="{{image}}">
                </div>
                <div class="soundIcon">
                    <a ng-hide="sound==null" ng-click="PlaySound(actualWord)">
                        <img src="~/Images/sound.png" />
                    </a>
                </div>
            </div>
        </accordion>
    </div>
    <div class="content">
        <div ng-repeat="word in wordsInPhrases">
            <h1 ng-click="getWordName(word.WordId,$event)" id="word{{word.WordId}}" class="phraseconte wordSeparation">{{word.WordName}}<span ng-show=" ! $last ">&nbsp;</span></h1>
        </div>
    </div>
    <div class="wordProperty">

        <nav>
            <ul class="pager">
                <li><a ng-show="navLeft" ng-click="moveIndex(-1)">Previous</a></li>
                <li><a ng-show="navRight" ng-click="moveIndex(1)">Next</a></li>
            </ul>
        </nav>

    </div>
    <div ng-hide="actualWord==''" class="CenterTextAlign">
        <accordion class="btn" close-others="oneAtATime">
            <accordion-group class="btn" heading="Show 'WIKI' description for {{actualWord}}">
                <div class="bubbleLeft wikiContent" ng-bind-html="WikiContent">
                </div>
            </accordion-group>
            <accordion-group class="btn" heading="Show 'RAE' description for {{actualWord}}">
                <div class="bubbleLeft">
                    <div class="raeword-container">
                        <iframe ng-src="{{RaeWordResult}}"></iframe>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </div>
    <div ng-show="getErrorMessagStatus()" class="navsection">
        <accordion class="btn" style="float:left;" close-others="oneAtATime">
            <span class="badge">Systems information: 1</span>
            <accordion-group class="btn" heading="(Show/Hide) ">
                <textarea class="form-horizontal" ng-model="error" style="width: 100%; height: 15em;"></textarea>
            </accordion-group>
        </accordion>
    </div>
</div>
