


<div id="controls">
    <a id="record" class="soundRecorderButton" type="button" onclick="toggleRecording(this);">Record</a>
    <canvas id="analyser" width="300" height="200"></canvas>
    <canvas id="wavedisplay" width="300" height="200"></canvas>
    <a id="save" class="soundRecorderButton" type="button">Upload</a>
  
</div>
