@{
    var wordName = (string)this.ViewData["wordName"];
  
}
<div id="@(wordName)Controls" class="controls">
    <a id="@(wordName)Record" class="record soundRecorderButton" onclick="toggleRecording(this);">Record</a>
    <span>Recording sound for: <b>@wordName </b></span>
 
    <canvas id="wavedisplay" width="300" height="200"></canvas>
    
    <div id="uploadIcon" class="uploadIconVisibility">
        <img src="~/Scripts/AudioRecorder/img/upload.png" />
       Uploaded
    </div>
</div>
