@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div ng-controller="SpicyController">
        <button ng-click="chiliSpicy()">Chili</button>
        <button ng-click="jalapenoSpicy()">Jalapeño</button>
        <p>The food is {{spice}} spicy!</p>
    </div>
