<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <link href="styles.css" rel="stylesheet" type="text/css" />
    <title>Using Bing and JSON</title>
    <script type="text/javascript">
        function search() {
            var search = "&query=" + document.getElementById("searchText").value;
            var fullUri = serviceURI + AppId + search;
            var head = document.getElementsByTagName('head');
            var script = document.createElement('script');
            script.type = "text/javascript";
            script.src = fullUri;
            head[0].appendChild(script);
         }
         function searchDone(results) {
             var result = null;
             var parent = document.getElementById('resultList');
             parent.innerHTML = '';
             var child = null;
             for (var i = 0; i < results.SearchResponse.Image.Results.length; i++) {
                 result = results.SearchResponse.Image.Results[i];
                 child = document.createElement('li');
                 child.className =  "resultlistitem";
                 child.innerHTML = '<a href="' + result.Url +'"><img src="' + result.Thumbnail.Url +'" alt="' + result.Title +'" /></a>';
                 parent.appendChild(child);
             }
        }

         var AppId = "&Appid=<YOUR APPID HERE!>";
         var serviceURI = "http://api.search.live.net/json.aspx?JsonType=callback&JsonCallback=searchDone&sources=image";

    </script>
</head>
<body>
    Type in a search:<input type="text" id="searchText" value="sushi" />
    <input type="button" value="Search!" id="searchButton" onclick="search()" />
    <ul id="resultList"></ul>
</body>
</html>