@{
    Layout = "../Shared/_Layout.cshtml";
}

<div ng-app="UniAppSpelApp" ng-controller="LandingPageController">
<h1>Word game</h1>
    <div class="separator"></div>
<div class="bubble">{{posts[0].DictionaryName}}</div>
    <div class="separator"></div>
    <div class="content"><h1>!!!!Que dices ss ella cuando no esta y si estuviera que diria, no sabemos. bueno que esta el</h1></div>
    <div class="separator"></div>
    <div class="bubbleLeft">Otro mensaje </div>
    </div>
